In [93]:
import pandas as pd

DATA_SOURCE = r'../data/census.csv'

df = pd.read_csv(DATA_SOURCE)

In [136]:
### USING SKLEARN ###

"""
We will use feature_engine for now.
"""

# from sklearn.preprocessing import KBinsDiscretizer

# DATA_SOURCE = r'../data/census.csv'
# df = pd.read_csv(DATA_SOURCE)

# age_discretizer = KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='uniform')
# hpw_discretizer = KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='quantile')

# # df['age'] = age_discretizer.fit_transform(df[['age']])
# # df['hours-per-week'] = hpw_discretizer.fit_transform(df[['hours-per-week']])

# df['age'] = age_discretizer.fit_transform(df[['age']])
# df['hours-per-week'] = hpw_discretizer.fit_transform(df[['hours-per-week']])


# print(df['age'].value_counts())
# print(df['hours-per-week'].value_counts())

'\nWe will use feature_engine for now.\n'

In [137]:
### USING FEATURE ENGINE ###

from feature_engine.discretisers import EqualWidthDiscretiser, EqualFrequencyDiscretiser

DATA_SOURCE = r'../data/census.csv'
df = pd.read_csv(DATA_SOURCE)

age_discretiser = EqualWidthDiscretiser(bins=10, variables=['age'])
hpw_discretiser = EqualFrequencyDiscretiser(q=5, variables=['hours-per-week'])

df = age_discretiser.fit_transform(df)
df = hpw_discretiser.fit_transform(df)

# print(df['age'].value_counts())
# print(df['hours-per-week'].value_counts())

In [138]:
df['hours-per-week'].value_counts()

1    16100
0     6880
3     6491
2     3090
Name: hours-per-week, dtype: int64

In [98]:
df

,date,age,workclass,population-wgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,over-under-50k
0,1-May-53,3,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,2/14/1994,4,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,1/21/1964,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,1/21/1994,4,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,1/21/1994,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,2/14/1994,1,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,fem,0,0,38,United-States,<=50K
32557,1-May-93,3,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,2/14/1964,5,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,2/14/1904,0,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,2/14/1993,4,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [99]:
df

,date,age,workclass,population-wgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,over-under-50k
0,1-May-53,3,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,2/14/1994,4,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,1/21/1964,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,1/21/1994,4,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,1/21/1994,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,2/14/1994,1,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,fem,0,0,38,United-States,<=50K
32557,1-May-93,3,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,2/14/1964,5,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,2/14/1904,0,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,2/14/1993,4,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [100]:
help(EqualFrequencyDiscretiser)

Help on class EqualFrequencyDiscretiser in module feature_engine.discretisers:

class EqualFrequencyDiscretiser(feature_engine.base_transformers.BaseNumericalTransformer)
 |  EqualFrequencyDiscretiser(q=10, variables=None, return_object=False, return_boundaries=False)
 |
 |  The EqualFrequencyDiscretiser() divides continuous numerical variables
 |  into contiguous equal frequency intervals, that is, intervals that contain
 |  approximately the same proportion of observations.
 |
 |  The interval limits are determined using pandas.qcut(), in other words,
 |  the interval limits are determined by the quantiles. The number of intervals,
 |  i.e., the number of quantiles in which the variable should be divided is
 |  determined by the user.
 |
 |  The EqualFrequencyDiscretiser() works only with numerical variables.
 |  A list of variables can be passed as argument. Alternatively, the discretiser
 |  will automatically select and transform all numerical variables.
 |
 |  The EqualFrequencyDiscretiser() first finds the boundaries for the intervals or
 |  quantiles for each variable, fit.
 |
 |  Then it transforms the variables, that is, it sorts the values into the intervals,
 |  transform.
 |
 |  Parameters
 |  ----------
 |
 |  q : int, default=10
 |      Desired number of equal frequency intervals / bins. In other words the
 |      number of quantiles in which the variables should be divided.
 |
 |  variables : list
 |      The list of numerical variables that will be discretised. If None, the
 |      EqualFrequencyDiscretiser() will select all numerical variables.
 |
 |  return_object : bool, default=False
 |      Whether the numbers in the discrete variable should be returned as
 |      numeric or as object. The decision is made by the user based on
 |      whether they would like to proceed the engineering of the variable as
 |      if it was numerical or categorical.
 |
 |  return_boundaries: bool, default=False
 |      whether the output should be the interval boundaries. If True, it returns
 |      the interval boundaries. If False, it returns integers.
 |
 |  Method resolution order:
 |      EqualFrequencyDiscretiser
 |      feature_engine.base_transformers.BaseNumericalTransformer
 |      sklearn.base.BaseEstimator
 |      sklearn.base.TransformerMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, q=10, variables=None, return_object=False, return_boundaries=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Learns the limits of the equal frequency intervals, that is the
 |      quantiles for each variable.
 |
 |      Parameters
 |      ----------
 |
 |      X : pandas dataframe of shape = [n_samples, n_features]
 |          The training input samples.
 |          Can be the entire dataframe, not just the variables to be transformed.
 |      y : None
 |          y is not needed in this encoder. You can pass y or None.
 |
 |      Attributes
 |      ----------
 |
 |      binner_dict_: dictionary
 |          The dictionary containing the {variable: interval limits} pairs used
 |          to sort the values into discrete intervals.
 |
 |  transform(self, X)
 |      Sorts the variable values into the intervals.
 |
 |      Parameters
 |      ----------
 |
 |      X : pandas dataframe of shape = [n_samples, n_features]
 |          The input samples.
 |
 |      Returns
 |      -------
 |
 |      X_transformed : pandas dataframe of shape = [n_samples, n_features]
 |          The transformed data with the discrete variables.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : object
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to X and y with optional parameters fit_params
 |      and returns a transformed version of X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix, dataframe} of shape                 (n_samples, n_features)
 |
 |      y : ndarray of shape (n_samples,), default=None
 |          Target values.
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.